body {
  margin: 0;
  padding: 0;
  font: 100%/1.5 "Noto Sans JP", sans-serif;
  background: lavender;
}
/*Navbar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #731975;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

li a:hover:not(.active) {
  background-color: #151515;
}

.active {
  background-color: #008080;
}
/* Layout Code */
.container {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.header {
  display: flex;
  height: 100px;
  padding: 0 20px;
  align-items: center;
  background: lightpink;
}
.content {
  flex: 1;
  display: flex;
}
.main {
  flex: 1;
  padding: 0 20px;
  background: snow;
}
.aside {
  width: 260px;
  padding: 0 20px;
  background: #ECFFDC;
}
.footer {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  background: lightsteelblue;
}

/* Content Code */
.header h1 {
  margin: 0;
  font-size: 1.75rem;
  text-transform: uppercase;
  align-items: center;
  background: #96DED1;

}
.main h2,
.aside h3 {
  font-size: 1.5rem;
  margin: 1.5rem 0;

}
.main p,
.aside p {
  margin: 0.75rem 0;
}
.aside,
.footer {
  font-size: 0.875rem;
}
